doctype html
//
  Solid State by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title Kairos Center for Well-being - #{data.fields.title}
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lte IE 8
      script(src='../assets/js/ie/html5shiv.js')
    link(rel='stylesheet', href='../assets/css/main.css')
    //if lte IE 9
      link(rel='stylesheet', href='../assets/css/ie9.css')
    //if lte IE 8
      link(rel='stylesheet', href='../assets/css/ie8.css')
  body
    // Page Wrapper
    #page-wrapper
      // Header
      header#header
        h1
          a(href='index.html') Kairos Center for Well-being
        nav
          a(href='#menu') Menu
      // Menu
      include ../partials/menu.pug
      // Wrapper
      section#wrapper
        header
          .inner
            h2 #{data.fields.title}
        // Content
        .wrapper
          .inner
            if data.fields.healingModalities
              section#modalities
                each modality in data.fields.healingModalities
                  h3.major #{modality.fields.title}
                  p #{modality.fields.description}
      // Footer
      section#footer.alt
        include ../partials/footer.pug
    // Scripts
    include ../partials/js.pug
