doctype html
//
  Solid State by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title Generic - Solid State by HTML5 UP
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lte IE 8
      script(src='assets/js/ie/html5shiv.js')
    link(rel='stylesheet', href='assets/css/main.css')
    //if lte IE 9
      link(rel='stylesheet', href='assets/css/ie9.css')
    //if lte IE 8
      link(rel='stylesheet', href='assets/css/ie8.css')
  body
    // Page Wrapper
    #page-wrapper
      // Header
      header#header
        h1
          a(href='index.html') Solid State
        nav
          a(href='#menu') Menu
      // Menu
      nav#menu
        .inner
          h2 Menu
          ul.links
            li
              a(href='index.html') Home
            li
              a(href='generic.html') Generic
            li
              a(href='elements.html') Elements
            li
              a(href='#') Log In
            li
              a(href='#') Sign Up
          a.close(href='#') Close
      // Wrapper
      section#wrapper
        header
          .inner
            h2 #{data.fields.title}
            p Phasellus non pulvinar erat. Fusce tincidunt nisl eget ipsum.
        // Content
        .wrapper
          .inner
            if data.fields.healingModalities
              section#modalities
                .table-wrapper
                  table
                    thead
                      tr
                        td Modality
                        td Description
                    tbody
                      each modality in data.fields.healingModalities
                        tr
                          td #{modality.fields.title}
                          td #{modality.fields.description}
            h3.major Lorem ipsum dolor
            p
              | Morbi mattis mi consectetur tortor elementum, varius pellentesque velit convallis. Aenean tincidunt lectus auctor mauris maximus, ac scelerisque ipsum tempor. Duis vulputate ex et ex tincidunt, quis lacinia velit aliquet. Duis non efficitur nisi, id malesuada justo. Maecenas sagittis felis ac sagittis semper. Curabitur purus leo donec vel dolor at arcu tincidunt bibendum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce ut aliquet justo. Donec id neque ipsum. Integer eget ultricies odio. Nam vel ex a orci fringilla tincidunt. Aliquam eleifend ligula non velit accumsan cursus. Etiam ut gravida sapien.
            p
              | Vestibulum ultrices risus velit, sit amet blandit massa auctor sit amet. Sed eu lectus sem. Phasellus in odio at ipsum porttitor mollis id vel diam. Praesent sit amet posuere risus, eu faucibus lectus. Vivamus ex ligula, tempus pulvinar ipsum in, auctor porta quam. Proin nec commodo, vel scelerisque nisi scelerisque. Suspendisse id quam vel tortor tincidunt suscipit. Nullam auctor orci eu dolor consectetur, interdum ullamcorper ante tincidunt. Mauris felis nec felis elementum varius.
            h3.major Vitae phasellus
            p
              | Cras mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.
            section.features
              article
                a.image(href='#')
                  img(src='images/pic04.jpg', alt='')
                h3.major Sed feugiat lorem
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.
                a.special(href='#') Learn more
              article
                a.image(href='#')
                  img(src='images/pic05.jpg', alt='')
                h3.major Nisl placerat
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.
                a.special(href='#') Learn more
      // Footer
      section#footer
        .inner
          h2.major Get in touch
          p
            | Cras mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.
          form(method='post', action='#')
            .field
              label(for='name') Name
              input#name(type='text', name='name')
            .field
              label(for='email') Email
              input#email(type='email', name='email')
            .field
              label(for='message') Message
              textarea#message(name='message', rows='4')
            ul.actions
              li
                input(type='submit', value='Send Message')
          ul.contact
            li.fa-home
              | Untitled Inc
              br
              | 									1234 Somewhere Road Suite #2894
              br
              | 									Nashville, TN 00000-0000
            li.fa-phone (000) 000-0000
            li.fa-envelope
              a(href='#') information@untitled.tld
            li.fa-twitter
              a(href='#') twitter.com/untitled-tld
            li.fa-facebook
              a(href='#') facebook.com/untitled-tld
            li.fa-instagram
              a(href='#') instagram.com/untitled-tld
          ul.copyright
            li © Untitled Inc. All rights reserved.
            li
              | Design: 
              a(href='http://html5up.net') HTML5 UP
    // Scripts
    script(src='assets/js/skel.min.js')
    script(src='assets/js/jquery.min.js')
    script(src='assets/js/jquery.scrollex.min.js')
    script(src='assets/js/util.js')
    //if lte IE 8
      script(src='assets/js/ie/respond.min.js')
    script(src='assets/js/main.js')
