doctype html
//
  Solid State by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title Kairos Center for Well-being - Therapeutic Massage
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lte IE 8
      script(src='../assets/js/ie/html5shiv.js')
    link(rel='stylesheet', href='../assets/css/main.css')
    //if lte IE 9
      link(rel='stylesheet', href='../assets/css/ie9.css')
    //if lte IE 8
      link(rel='stylesheet', href='../assets/css/ie8.css')
  body
    // Page Wrapper
    #page-wrapper
      // Header
      header#header
        h1
          a(href='index.html') Kairos Center for Well-being
        nav
          a(href='#menu') Menu
      // Menu
      nav#menu
        .inner
          h2 Menu
          ul.links
            li
              a(href='index.html') Home
            li
              a(href='generic.html') Generic
            li
              a(href='elements.html') Elements
            li
              a(href='#') Log In
            li
              a(href='#') Sign Up
          a.close(href='#') Close
      // Wrapper
      section#wrapper
        header
          .inner
            h2 #{data.fields.title}
        // Content
        .wrapper
          .inner
            if data.fields.healingModalities
              section#modalities
                each modality in data.fields.healingModalities
                  h3.major #{modality.fields.title}
                  p #{modality.fields.description}
      // Footer
      section#footer
        .inner
          h2.major Get in touch
          p
            | Cras mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.
          form(method='post', action='#')
            .field
              label(for='name') Name
              input#name(type='text', name='name')
            .field
              label(for='email') Email
              input#email(type='email', name='email')
            .field
              label(for='message') Message
              textarea#message(name='message', rows='4')
            ul.actions
              li
                input(type='submit', value='Send Message')
          ul.copyright
            li © Untitled Inc. All rights reserved.
            li
              | Design: 
              a(href='http://html5up.net') HTML5 UP
    // Scripts
    script(src='../assets/js/skel.min.js')
    script(src='../assets/js/jquery.min.js')
    script(src='../assets/js/jquery.scrollex.min.js')
    script(src='../assets/js/util.js')
    //if lte IE 8
      script(src='../assets/js/ie/respond.min.js')
    script(src='../assets/js/main.js')
